.banner {
    background-image: url(assets/imgs/bg-jelly-fish-para_outras_pags.png);
    background-size: cover;
}


.caixa_formularioCadastro {
    background: white;
    width: 400px;
    height: 450px;
    color:  #37b1e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.caixa_formularioCadastro h1 {
    font-size: 30px;
}

.formularioCadastro {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.formularioCadastro button {
    margin-top: 10px;
    background: #37b1e1;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    align-self: center;
    cursor: pointer;
}

.formularioCadastro input {
    padding: 10px 15px;
    text-align: center;
    border: 2px solid rgb(82, 143, 196);
    border-radius: 10px;
}

.formularioCadastro span {
    font-size: 20px;
}